.sectionAbout{
    background-image: url('https://i.ibb.co/QNZQgmJ/9AqtWIp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    grid-template-columns: 1fr;
    padding: 50px 10px;
}

.sectionAbout_text{
    -webkit-box-pack: center;
            justify-content: center;
    align-self: center;
    text-align: center;
}

.sectionAbout_text__h2{
    font-family: $yeseva;
    color: #cc9900;
    font-weight: 500;
}

.sectionAbout_text__parraf{
    font-family: $lato;
}

.sectionAbout_text__img{
    padding: 20px 0 0 80px;
}

.sectionAbout_image>img{
    width: 100%;
}

@media(min-width:1024px){
    .sectionAbout{
        grid-template-columns: 1fr 1fr;
        padding: $p120;
        padding-top: 70px;
    }
}