// Section Reservation 
.sectionReservation{
    display: grid;
    background-image: url('https://i.ibb.co/yQBhGG5/RIQYYxa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
    grid-template-columns: 1fr;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
}

.sectionReservation_colOne{
    display: grid;
    grid-template-columns: 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}

.sectionReservation_colTwo_title{
    font-family: $yeseva;
    color: #cc9900;
    text-align: center;
    font-weight: 500;
}

.sectionReservation_colTwo_divider{
    display: block;
    margin: 0 auto;
}

.sectionReservation_colTwo_parraf{
    color: #4c4c4c;
    font-family: $lato;
    text-align: center;
    padding-top: 30px;
}

.sectionReservation_colTwo_form{
    -webkit-box-align: end;
            align-items: end;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    padding-top: 40px;
    display: grid;
        grid-template-columns: 1fr;
        text-align: center;
}

.sectionReservation_colTwo_form>div>label{
    font-family: $open;
    color: #cc9900;
    font-weight: bold;
}

.sectionReservation_colTwo_form__input{
    font-family: $open;
    font-style: italic;
    margin: 10px 0 15px;
    padding: 6px;
    border: none;
    outline: none;
    width: 80%;
}

.sectionReservation_colTwo_form__input:focus
{
    border: 1px solid #cc9900;
    outline: 1px solid #cc9900;
}

.sectionReservation_colOne>img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

@media(min-width:1024px){
    .sectionReservation{
        padding: 50px 120px;
        grid-template-columns: 1fr 1fr;
    }
    
    .sectionReservation_colOne{
        grid-template-columns: 3fr 3fr;
    }
    
    .sectionReservation_colTwo_form{
        grid-template-columns: 1fr 1fr;
    }
    
    .sectionReservation_colTwo_form__input{
        width: 100%;
    }
}