<!DOCTYPE html>
html(lang="en")
    include components/head
    body
        include components/header/header 
        include components/main.pug
        include components/footer/footer
        include components/scripts 