.dividerGold{
    background-image: url('https://i.ibb.co/9nz95LR/FgTWHbQ.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24px;
    width: 100%;
}

.dividerWhiteBig{
    background-image: url('https://i.ibb.co/gPRB38N/EF17PtG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 43px;
    width: 100%;
}

//Divider Footer

.dividerWhiteSmall{
    background-image: url('https://i.ibb.co/3YVFLXD/o8za0dT.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 24px;
    width: 100%;
}