*{
    margin: 0;
    padding: 0;
}


/**
 * Fonts
 * -------------------------------------------------------
 */
@import '../fonts/_fonts.scss';


/**
 * Variables
 * -------------------------------------------------------
 */
@import '_variables.scss';

@import '../../components/header/scss/_style';
@import '../../components/sections/About/scss/_style';
@import '../../components/sections/Ingredients/scss/_style';
@import '../../components/sections/Menu/scss/_style';
@import '../../components/sections/Reviews/scss/_style';
@import '../../components/sections/Reservation/scss/_style';
@import '../../components/footer/scss/_style';


.animated{
    transition-property: none !important;
    transform: none !important;
    animation: none !important
}

