head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restaurant
        link(rel="stylesheet", href="assets/css/animated.css")
        link(rel="stylesheet", href="assets/css/style.css", media="(max-width:639px)")
        link(rel="stylesheet", href="assets/css/styleTablet.css", media="(min-width:640px)")
        link(rel="stylesheet", href="assets/css/styleWeb.css", media="(min-width:1024px)")