script(src="https://code.jquery.com/jquery-3.5.1.slim.min.jss",integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n",crossorigin="anonymous")
script(src="assets/js/gumshoe.polyfills.js")
script(src="assets/js/all.js")
script(src="assets/js/header.js")
script(src="assets/js/gumshoeCustom.js")
script(src="assets/js/wow.min.js")
script(src="assets/js/wowInit.js")
