@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&display=swap");
.home_sectionBackground_header {
  padding: 0 120px;
  height: 100vh;
  background-image: url("https://lh3.googleusercontent.com/98KEflXG-dfPcRpNDYyesjM5EucP06IOnr9f-o80JdoFE6psZktn_h2il4B9wsYZsrL-JfFYBYw43d0uA_hA8V0omEJ8sfqttOCtzgywfW6znPdLqoNpuIBa6na-7tejx9rmbk5Xdi9qKGM7YuWi8NqCbXJfRpP4rPmyTWPbw81LJDMtb2TNmQ-70fh-6v31dYOkUtgEt1G1yLUNmaOmi1FAjqUzCcVkSska3qmqOkAPbSX-vdslnYnHXwi4Jf0yhFyrpSP0iQGanwU1VDYPNhlnVy6fe8v9mVZ1IqEMT8xpTVXIuFuSXxOihDkHLlDF13mTe_YDbG5f8YF_PlKKZhF3f8fTAlUFoNM7sfRVGwwhhBgMnCZa6jT4UmTP9FHuT6v6Wf5sg8QDZdG4g7iGuM-dov9bsO3FFNzmk0S6qacDpmxs0OZ1wbLxHBurMOF9u-T8HlDp6g-jGVpHnx2EvIN0ySHS-IDC6WiyDuCY7_9e8hHavrZhdVpR0Hq048HpKbAKhmnFPsAbwertlFy-ssRyFhS-MhXIBAn5XpQL3uwllv7cHlDcySS_UrHu4UeiIq_zQPK9uZ8jo5arXMVB2nQbpFUqh1I024fRq7vNhSWjTwykI2BlhLQalZTh6MxzcOhFpMaMMG_9luw7QoG_y436MkKegXJTZIhnvsHCgKt_ulEdus4AfDIkJBXauw=w1278-h600-no");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 8fr;
  justify-content: center;
  align-items: center;
}

.home_sectionBackground_header_nav_listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home_sectionBackground_header_nav {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr;
}

.home_sectionBackground_header_nav_ul {
  list-style: none;
}

.home_sectionBackground_header_nav_ul > .home_sectionBackground_header_nav_ul_li {
  display: inline;
  padding: 0px 30px;
}

.home_sectionBackground_header_nav_ul_li__a {
  color: white;
  text-decoration: none;
  font-family: "Gentium Book Basic", serif;
  padding-top: 35px;
}

.home_sectionBackground_header_nav_ul_li__a:hover,
.home_sectionBackground_header_nav_ul_li__a:active,
.home_sectionBackground_header_nav_ul_li__a:focus {
  border-top: 2px solid #c2bfb7;
}

.active {
  border-top: 2px solid #c2bfb7;
}

.home_sectionBackground_header_nav_socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_sectionBackground_header_nav_ul_li__a--social__iconify {
  padding: 0 5px;
  color: #dab33e;
}

.home_sectionBackground_header_nav_ul_li__a--social__iconify:hover {
  color: #b99526;
}

.home_sectionBackground_header_nav_ul--social {
  list-style: none;
}

.home_sectionBackground_header_nav_ul--social > .home_sectionBackground_header_nav_ul_li--social {
  display: inline;
}

.home_sectionBackground_header_nav_ul_li__a--social {
  text-decoration: none;
}

.sectionTitle {
  grid-row: 2;
}

.sectionTitle_titles {
  display: grid;
  grid-column: 2;
}

.sectionTitle__h1 {
  text-align: center;
  color: white;
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 500;
}

.sectionTitle__buttons {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.sectionTitle__img {
  margin: 0 auto;
}

.sectionAbout {
  background-image: url("https://lh3.googleusercontent.com/lm61aiR79-BHnzwUoGyw6RAxgR-O9pBvy2oyU2Ypds3ad2AEInnxOn_DEUxHXEvHvm5FD9BRE403vaAYECxuE7f4jJphHZjy9W5c2SkkbQ2RK1ZcQmJoVQ7zHkLe10b9iVMb0oMce1BcbsegolT-fRHsOu6O78ZOTCsBauYSDipFK8dBeqK07gkHrU2zN4Pbdnyqa_DaYJPCfuv7XHssgvSnKk8NWmVTW1Ch8ndPUv1LCiqkN4MLTFk-77UzF7In1T3X4wbVxsK-BxQmcOCe5rmcZfhgy2LFISDRgvOiu_LFz7e7KKeXzn8tDNjRBg-1egYxZLv1WNDB1XAxha5TAeDqw0eNUZhbDlsBPUSWRwqUaZgTvWoDkqNNavVlZS9rNLev7u91I8jwMGO1ykVk3M6kaXXg7rDs_xmNDu8tfnZpVRI11WkZuzhcUWWRRG5WdpA8BoxbyWMTMrfF01wGKtua59KiRHxcImawKX5uDlBGOTrBqECxJK4ZiMIAIilVseBJp0MkUDB_bqMCKju-YfgQpIJTDufKZEmbxtjQf0UPrBNvtG1YvvIjRJWV2V1GjCVA85GSYjfR5AV9iOwqh0TX90Ca2I63HFoWxN-Z-wl--XAxYQf7AdjlF83dwTeeUq-1j7EBpKWJGDWKhx1rnrlwL3qHCri6MtXO_DJrl7oWJpBv0J6c3Ulcb3W09Q=w1278-h569-no");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 0 120px;
  padding-top: 70px;
}

.sectionAbout_text {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.sectionAbout_text__h2 {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  font-weight: 500;
}

.sectionAbout_text__parraf {
  font-family: "Lato", sans-serif;
}

.sectionAbout_text__img {
  padding: 20px 0 0 80px;
}

.sectionAbout_image > img {
  width: 100%;
}

.sectionIngredients {
  padding: 50px 120px;
  background-image: url("https://lh3.googleusercontent.com/hfBd0qIcC8afcyfglulKX_5P04NpQYIAkb9F7Skozz2RPYasNUnz7uzgwvv_hKgIX3GP5S1Vz-Bq13bhMv2cuFAJHnBd425U-ZsJ_gORla5OpqxQOg1ibdX8mSai3NEmX83SbeN2cLGWO7VmDxs2SP3q4dcEZ8yarnhCpqO-hiEYL97FvrM8AlBBj_zvLrvrOW_TbPVZSxRmULMMpbsPJghKPBbcl8czvHIW72Cl5HKdX1D8YY_AJsX0hTuyi6EYy2tLhvw76eryK0OAMjCLPzkzCTY3-C7CZYV_hn6hy3lNcH_KiGrbtVucd7GRsm_vf-9gvP-3eHTORQbEJuCl7Z8X4jhLlnzhEEjWvyQ_JTR2ymQKQQfg2_oSsm12JmdCbvVhXljtfjViNL8uRABBWY4r9eY6XO0VeAuMlymTBUqhtm4-xNv8WCI8xLZS6-SWKXqoS1SL5GjBNRPBYBkax6kLqCeazemLe4h9bZEJ1hM-mMPDFnGgujncKeDIuYvB7QYMOlTyCWZqpHsdDMm74DPsB4SP6Q6Mi6FIP31AMPjZk1M_-ktuL5nB3RmTbqSYzx0vqitH_8mSjY_wPMzl7IBXXlzEFdvgKWU29cNk4z_BIS_KwesKLcJbdm835JQJfhe9SRxS4wFjNDxx8rGjal6BfON-OgkArAAfADM0h56kMM4LMWxlzEg5SiCEiA=w1278-h606-no");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 6fr 6fr;
}

.sectionIngredients_container {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 50px;
  display: grid;
  grid-column: 2;
}

.sectionIngredients_container__h2 {
  font-family: "Yeseva One", cursive;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}

.sectionIngredients_container__parraf {
  font-family: "Lato", sans-serif;
  color: white;
  margin: 20px 0;
}

.sectionIngredients_container_images {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sectionIngredients_container_images > img {
  width: 100%;
}

.sectionIngredients_container__divider {
  margin: 0 auto;
}

.sectionIngredients_container_list {
  display: grid;
  grid-template-columns: 4fr 9fr 4fr;
  display: none;
}

.sectionIngredients_container_list__iconify {
  color: white;
}

.sectionIngredients_container_list__ul {
  display: grid;
  grid-column: 2;
  text-align: left;
}

.sectionIngredients_container_list__li {
  color: white;
  font-family: "Lato", sans-serif;
  list-style: none;
}

.sectionMenu {
  background-image: url("https://lh3.googleusercontent.com/H2FTQBtWOSqq4-pH_4Y_6yBTxasZ3tfjTBL6VZ1qiRk4Me7Agt6U1qxzdPqv4yr_hm5MDT5bRgRJLBpZBYa3ZvKul2nzdLrIL0BRpiuTqLoHxnlYpJz8PXUcrtFPFm1ua9XNPaazuiXYbwwJE1l8Q1jF5L278aeZdKsn7MlsIZVU2nY8YNgHNLJen3YOQUpeCjVahPDmTlBhq49ekL9ui77jcPalkB3hEOdewxvmBrtHtT_PVO2ibgyD0puV8HwNmr9f1BnmO2Tt0Xzr75aOH9tGUfSh6YctV2kBc5yNNme0jzkBUhqlcYkoSw9SkSEqp-Ot7mWFpUm3-H-Go3Ta4z6EYTe1Va_76FLUNFY3I8yVqbGEp-DeAtMJ080fafDnE6ErEI_ESnhJ5OQVjNTz9Tt4GsZeaoC0msxoOciPUmU-J1-vD05_hHl8wxTEbYXrh70pNDNaozu0vaPuSqCD5OHMTsxK7Wv5m3Aiee4FUOKXXc4PbKkzPkfDHZX3-oxOX9F-g2IUvo56sM0MkOz60pmZHyBcpjwHy7AJLCpCoEhUO36gc1icPuiR_0uiHAOO9bU4xkJUHBkfAOSuJQWAM-leEBWfNdsV0L_5y1Ep3ndjqLo-RunbhYg3Yhs9yipcM5gvbtEpdI__wS9mpwKcQpO8RxtjyBbG0lnCA_3DaVKWwhwjijpg2cwU5aoqkw=w1092-h678-no");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 120px;
  color: #cc9900;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  padding-bottom: 100px;
}

.sectionMenu_rowOne {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.sectionMenu_rowTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.sectionMenu_menusPrices {
  margin: 25px 0;
}

.sectionMenu_menusPrices_special_container {
  border: 1px solid #cc9900;
  padding: 0 10px;
}

.sectionMenu_menusPrices_special_badgeContainer {
  display: flex;
  justify-content: flex-end;
}

.sectionMenu_menusPrices_special__badge {
  background-color: rgba(217, 192, 120, 0.6);
  padding: 8px 20px;
  color: white;
  font-family: "Lato", sans-serif;
}

.sectionMenu_menuOne_h1 {
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  text-align: center;
  height: 0px;
  color: #cc9900;
  margin-bottom: 20px;
}

.sectionMenu_menuOne_subtitle {
  font-family: "Yeseva One", cursive;
  font-weight: 500;
  color: #cc9900;
  border-bottom: 1px solid #cc9900;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.sectionMenu_menuOne_parraf {
  font-family: "Lato", sans-serif;
  color: #4c4c4c;
  padding: 10px 0;
}

.setionMenu__divider {
  margin: 0 auto;
  display: block;
}

.sectionReviews {
  background-image: url("https://lh3.googleusercontent.com/Gx1YW5V1A6QRDPSFOANn9lJsr1dSzlpVWAuES57JwuzdjRr-uqUYUEmZdL20gJqy2gxuA1olnV91LDnLK9fczBRjbEXo_SVjLjGH9M7HBqLsjPxjwhakkuEK21nTD_9tGBmrC7NdrODIdZ3Yiw44xjYTAOqd3vIofuBYaIebDV-altkxH7CkiVdx76Zdx5Rw16BmVRSzJI3RzEvVOcONnr--yW4Pxp429mKqcN1cG6aLmTr7CG5KUY3oq0WAnAuEgQP2rPlG0Ko-uKMZqoPTg_zot5PqA3F-9k0uM6sSrNauoCpWWIV8lpU2-vnqYZEVfygw9yAXiU1IqDRjALNkZSj6sKb9W3veSFYmOKwEKApDfi7rIic5cDvZuIiczhMajUUcRjjr03brTUsKCtPqGYd0R-COveKmnHMArIXko-ksYKNw5eicdRvgQwW8MdMdQ7PF3pzcC6Pxp8tSoiefRVx1YF-ruCGxm_w9zNYBof15Byjv0AmzUfUXtxX5ETTg6KGtj__T5aKD7rLyH5XkD_oItvNiD9COy2d4fVK2oZfhJLLx0WVIBUWR3qy21nMhcw0TAoc_iLteONHW3EtGtaO0vBLLVjQX1kjVl6ySWaXbQQ8HuZ_4-9fkZPMklvnaSImw41dZVVGE0SjE8Ts41kIzFdUU8yChCxNLYDnLkmNsYFSBFcHYcvc_2-E_lQ=w813-h385-no");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  padding: 50px 120px;
  grid-template-columns: 2fr 8fr 2fr;
}

.sectionReviews_container {
  display: grid;
  grid-column: 2;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 100px 0;
}

.sectionReviews_container_rowOne {
  margin: 0 auto 20px;
}

.sectionReviews_container__title {
  text-align: center;
  font-family: "Yeseva One", cursive;
  margin-bottom: 10px;
  font-weight: 500;
}

.sectionReviews_container__parraf {
  color: #dde0df;
  text-align: center;
  font-family: "Gentium Book Basic", serif;
  display: grid;
  grid-column: 2;
  line-height: 30px;
}

.sectionReviews_container__parraf__iconify {
  font-size: 40px;
  display: grid;
  grid-column: 1;
  color: rgba(242, 244, 244, 0.57);
}

.sectionReviews_container_rowTwo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: end;
}

.sectionReviews_container__parraf__place {
  font-family: "Lato", sans-serif;
  padding-top: 50px;
}

.sectionReservation {
  padding: 50px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("https://lh3.googleusercontent.com/8S6k2HZlQgW5rlQ-XDUnQpF8OIXI4GAz_8f8UbTRNlX1j06JoBt_2DZMCQ2KOdJAJBL_2qVEKkF3TyrSkun5KoR_4rZEZNAoWTsGoMMXi087tykeVKHLl4FpU6VJgHXtFTZMKAKTYVruRKtLJria-kWebjYYJKJV9-d7a1wFDixoBXItT2Pp4mb4Ptz7ZbJTMdITKZLUo_GU-pf5jFq-Mp4DsG2HNfngd427EtxNRpcEwpjnbcw5IM_1Ny7wKdtfBCpf5S5XrzeRNFuyGdfBlxYZO-RFvWZezrtA-FUD-q-0d0CRnMRdxvGBqiLw_WjHgZ-HhM6EuGB3v0Vok2KpP3FFBTzNo-eFre1UpwseqHtpHr-LiT7gM-SDyCaFPrZ9hKp_nPeF7DBoiLgUsdHl2E9k8fKLqKLHm29Xhzd1Km_8Lj3MlWlW2wFpn_Le5L-180QflqX25jPS_EDCJlfygFS6fNjr3kz3XUEoJ0dKpU1RbwLpEIogm9qExJMMfs8V6qNSyD3SB0Cv02PAFacA8K7qfSCK_Furuhi3rE4N9-nDEoe7DDJuiGFX2dPWK_r_LqFKHZ-zMmj5cyfA8HuJQTiNORNWX6srpZiQUj6W_t5UErTOM5CrGAmTgS5PvzlOYnFSWN4iahuqAJRc6YydlaoKO7smpM6wLHC7LNTrV8VM1Bt9mtdLPDuF7QkLlw=w1278-h566-no");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  column-gap: 70px;
}

.sectionReservation_colOne {
  display: grid;
  grid-template-columns: 3fr 3fr;
  column-gap: 30px;
}

.sectionReservation_colTwo_title {
  font-family: "Yeseva One", cursive;
  color: #cc9900;
  text-align: center;
  font-weight: 500;
}

.sectionReservation_colTwo_divider {
  display: block;
  margin: 0 auto;
}

.sectionReservation_colTwo_parraf {
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 30px;
}

.sectionReservation_colTwo_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  column-gap: 50px;
  padding-top: 40px;
}

.sectionReservation_colTwo_form > div > label {
  font-family: "Open Sans", sans-serif;
  color: #cc9900;
  font-weight: bold;
}

.sectionReservation_colTwo_form__input {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin: 10px 0 15px;
  padding: 6px;
  border: none;
  outline: none;
}

.sectionReservation_colTwo_form__input:focus {
  border: 1px solid #cc9900;
  outline: 1px solid #cc9900;
}

.sectionReservation_colOne > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #191919;
  color: white;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  padding: 50px 120px;
  column-gap: 50px;
}

.footer_about__title,
.footer_hours__title,
.footer_directions__title {
  color: white;
  font-family: "Yeseva One", cursive;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer_about__parraf,
.footer_hours__parraf {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.footer_directions__parraf {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
}

.footer_about > img,
.footer_hours > img,
.footer_directions > img {
  display: block;
  margin: 15px auto;
}

.footer_hours_payments {
  text-align: center;
  margin-top: 50px;
}

.footer_directions {
  text-align: center;
}

.footer_directions_social {
  margin-top: 50px;
}

.footer_directions_social__ul {
  list-style: none;
}

.footer_directions_social__ul__list {
  display: inline;
  padding: 0 2px;
}

.footer_directions_social__ul__list__a {
  color: white;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .home_sectionBackground_header {
    padding: 0 10px;
  }

  .home_sectionBackground_header_nav {
    grid-template-columns: 3fr 8fr;
  }

  .home_sectionBackground_header_nav_ul_li__a--social > span {
    width: 30px;
    height: 30px;
  }

  .home_sectionBackground_header_nav_listContainer {
    display: none;
  }

  .sectionTitle__buttons {
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }

  .sectionTitle__h1 {
    font-size: 22px;
  }

  .home_sectionBackground_header_nav_socialContainer {
    justify-content: flex-end;
    padding: 20px;
  }

  .sectionAbout {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .sectionIngredients {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sectionIngredients_container {
    padding: 20px;
  }

  .sectionMenu {
    padding: 0 10px;
    display: block;
    padding: 50px 10px;
  }

  .sectionMenu_rowOne {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .sectionMenu_rowTwo {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .sectionReviews {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .sectionReservation {
    padding: 50px 10px;
    grid-template-columns: 1fr;
  }

  .sectionReservation_colOne {
    grid-template-columns: 1fr;
  }

  .sectionReservation_colTwo_form {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sectionReservation_colTwo_form__input {
    width: 80%;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 50px 10px;
    row-gap: 20px;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  .home_sectionBackground_header {
    padding: 0 10px;
  }

  .home_sectionBackground_header_nav {
    grid-template-columns: 3fr 8fr;
  }

  .home_sectionBackground_header_nav_ul_li__a--social > span {
    width: 30px;
    height: 30px;
  }

  .home_sectionBackground_header_nav_listContainer {
    display: none;
  }

  .sectionTitle__buttons {
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }

  .sectionTitle__h1 {
    font-size: 34px;
  }

  .home_sectionBackground_header_nav_socialContainer {
    justify-content: flex-end;
    padding: 20px;
  }

  .sectionAbout {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .sectionIngredients {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sectionIngredients_container {
    padding: 20px;
  }

  .sectionIngredients_container_images > img {
    width: 80%;
  }

  .sectionMenu {
    padding: 0 10px;
    display: block;
    padding: 50px 10px;
  }

  .sectionMenu_rowOne {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .sectionMenu_rowTwo {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .sectionReviews {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .sectionReservation {
    padding: 50px 10px;
    grid-template-columns: 1fr;
  }

  .sectionReservation_colOne {
    grid-template-columns: 1fr;
  }

  .sectionReservation_colTwo_form {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sectionReservation_colTwo_form__input {
    width: 80%;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 50px 10px;
    row-gap: 20px;
  }
}
@media (min-width: 641px) and (max-width: 800px) {
  .home_sectionBackground_header {
    padding: 0 10px;
  }

  .home_sectionBackground_header_nav {
    grid-template-columns: 3fr 10fr 2fr;
  }

  .home_sectionBackground_header_nav_ul_li__a--social > span {
    width: 30px;
    height: 30px;
  }

  .home_sectionBackground_header_nav_listContainer {
    display: none;
  }

  .sectionTitle__buttons {
    display: block;
    margin-top: 50px;
  }

  .sectionTitle__h1 {
    font-size: 40px;
  }

  .home_sectionBackground_header_nav_socialContainer {
    justify-content: flex-end;
    padding: 20px;
  }

  .sectionAbout {
    padding: 50px 10px;
  }

  .sectionIngredients {
    grid-template-columns: 1fr;
  }

  .sectionIngredients_container {
    padding: 20px;
  }

  .sectionIngredients_container_images > img {
    width: 80%;
  }

  .sectionMenu_rowOne,
.sectionMenu_rowTwo {
    column-gap: 30px;
  }

  .sectionMenu {
    padding: 0 10px;
    display: block;
    padding: 50px 20px;
  }

  .sectionReviews {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }

  .sectionReservation {
    padding: 50px 10px;
    grid-template-columns: 1fr;
  }

  .sectionReservation_colOne {
    grid-template-columns: 1fr;
  }

  .sectionReservation_colTwo_form {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sectionReservation_colTwo_form__input {
    width: 80%;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 50px 10px;
    row-gap: 20px;
  }
}
@media (min-width: 801px) and (max-width: 1199px) {
  .home_sectionBackground_header {
    padding: 0;
  }

  .home_sectionBackground_header_nav {
    grid-template-columns: 1fr 12fr 2fr;
  }

  .home_sectionBackground_header_nav_ul > .home_sectionBackground_header_nav_ul_li {
    padding: 0px 10px;
  }

  .home_sectionBackground_header_nav {
    position: fixed;
    z-index: 1;
  }

  .sectionAbout {
    padding: 50px 10px;
  }

  .sectionIngredients {
    padding: 50px 10px;
  }

  .sectionIngredients_container {
    padding: 20px;
  }

  .sectionIngredients_container_images > img {
    width: 80%;
  }

  .sectionMenu_rowOne,
.sectionMenu_rowTwo {
    column-gap: 30px;
  }

  .sectionMenu {
    padding: 0 50px;
    display: block;
    padding: 50px 10px;
  }

  .sectionReviews {
    padding: 50px 10px;
  }

  .sectionReservation {
    padding: 50px 10px;
  }

  .sectionReservation_colTwo_form {
    display: grid;
    text-align: center;
  }

  .sectionReservation_colTwo_form__input {
    width: 80%;
  }

  footer {
    padding: 50px 10px;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .home_sectionBackground_header {
    padding: 0;
  }

  .home_sectionBackground_header_nav {
    position: fixed;
    z-index: 1;
  }

  .sectionAbout {
    padding: 50px 50px;
  }

  .sectionIngredients {
    padding: 50px 50px;
  }

  .sectionIngredients_container {
    padding: 20px;
  }

  .sectionIngredients_container_images > img {
    width: 80%;
  }

  .sectionMenu_rowOne,
.sectionMenu_rowTwo {
    column-gap: 30px;
  }

  .sectionMenu {
    padding: 0 50px;
    display: block;
    padding: 50px 50px;
  }

  .sectionReviews {
    padding: 50px 50px;
  }

  .sectionReservation {
    padding: 50px 50px;
  }

  .sectionReservation_colTwo_form {
    display: grid;
    text-align: center;
  }

  .sectionReservation_colTwo_form__input {
    width: 80%;
  }

  footer {
    padding: 50px 50px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.btnDark {
  border: 1px solid black;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  font-family: "Lato", sans-serif;
  margin-right: 50px;
  text-decoration: none;
}

.btnDark:hover {
  border: 2px;
  background-color: black;
  font-weight: bold;
}

.btnLight {
  border: 1px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Lato", sans-serif;
  padding: 20px 30px;
  text-decoration: none;
}

.btnLight:hover {
  border: 2px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.btnReservation {
  color: white;
  background-color: #c9a131;
  border: none;
  font-family: "Lato", sans-serif;
  padding: 9px 40px;
  text-decoration: none;
  display: table;
  margin: 0 auto;
}

.btnReservation:hover {
  cursor: pointer;
  color: white;
  background-color: #c39e37;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 640px) {
  .btnDark {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.home_sectionBackground_header_nav--scroll {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.header-logo--scroll {
  width: 120px;
}

.home_sectionBackground_header_nav_ul_li__a--scroll {
  padding-top: 15px;
}