@import 'components/_buttons.scss';

 // Section Reservation 
    .sectionReservation{
        padding: 50px 10px;
        grid-template-columns: 1fr;
    }
    .sectionReservation_colOne{
        grid-template-columns: 1fr;
    }
    .sectionReservation_colTwo_form{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sectionReservation_colTwo_form__input{
        width: 80%;
    }