// Section Ingredients 
.sectionIngredients{
    background-image: url('https://i.imgur.com/tQp6156.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}

.sectionIngredients_container{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    display: grid;
    grid-column: 2;

}

.sectionIngredients_container__h2{
    font-family: $yeseva;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
}

.sectionIngredients_container__parraf{
    font-family: $lato;
    color: white;
    margin: 20px 0 ;
}

.sectionIngredients_container_images{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionIngredients_container_images>img{
    width: 80%;
}

.sectionIngredients_container__divider{
    margin: 0 auto;
}

.sectionIngredients_container_list{
    display: grid;
    grid-template-columns: 4fr 9fr 4fr;
    display: none;
}

.sectionIngredients_container_list__iconify{
    color: white;
}

.sectionIngredients_container_list__ul{
    display: grid;
    grid-column: 2;
    text-align: left;
}

.sectionIngredients_container_list__li{
    color: white;
    font-family: $lato;
    list-style: none;
}
