footer
    .footer_about
        h3.footer_about__title About Us
        img(src="https://i.imgur.com/o8za0dT.png", alt="divider")
        p.footer_about__parraf
            | Lambda's new and expanded Chelsea location 
            | represents a truly authentic
            b  Greek
            |  patisserie, featuring breakfasts of fresh croissants and steaming 
            | bowls of café.
            br
            | Lamda the best restaurant in town
    .footer_hours.mt-2
        br
        h3.footer_hours__title Opening Hours
        img(src="https://i.imgur.com/o8za0dT.png", alt="divider")
        p.footer_hours__parraf
            b Mon-Thu:
            | 7:00am - 8:00pm
            br
            b Fri-Sun
            | 7:00am - 10:00pm
        .footer_hours_payments
            i.fab.fa-cc-amex
            i.fab.fa-cc-paypal
            i.fab.fa-cc-visa
            i.fab.fa-cc-discover
    .footer_directions
        h3.footer_directions__title Our Location
        img(src="https://i.imgur.com/o8za0dT.png", alt="divider")
        p.footer_directions__parraf 19th Paradise Street Sitia 128 Meserole Avenue
        .footer_directions_social
            ul.footer_directions_social__ul
                li.footer_directions_social__ul__list
                    a(href="#").footer_directions_social__ul__list__a
                        span(data-icon="brandico:facebook",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="#").footer_directions_social__ul__list__a
                        span(data-icon="vaadin:youtube",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="#").footer_directions_social__ul__list__a
                        span(data-icon="ant-design:twitter-outlined",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="#").footer_directions_social__ul__list__a
                        span(data-icon="simple-icons:trello",data-inline="false").iconify