section.sectionAbout#about
    article.sectionAbout_text
        h2.sectionAbout_text__h2.wow.animated.zoomIn Just the right food
        figure.dividerGold.wow.animated.zoomIn
        p.sectionAbout_text__parraf.wow.animated.zoomIn
            | If you've been to one of our restaurants, you've seen - 
            | and tasted - 
            | what keeps our customers coming back for more. 
            | Perfect materials and freshly baked food, 
            | delicious Lambda cakes,  muffins, and gourmet coffees 
            | make us hard to resist!
            br 
            | Stop in
            | today and check us out!
        img(src="https://i.ibb.co/7RXgXrW/xQ6IdsW.png", alt="imagen del cocinero").sectionAbout_text__img.wow.animated.zoomIn
    figure.sectionAbout_image.wow.animated.rotateIn.delay-1s
        img(src="https://i.ibb.co/pZHvkDQ/ymFSlU3.png", alt="imagen del plato")