footer
    section.footer_about
        h3.footer_about__title About Us
        figure.dividerWhiteSmall
        p.footer_about__parraf
            | Lambda's new and expanded Chelsea location 
            | represents a truly authentic
            strong  Greek
            |  patisserie, featuring breakfasts of fresh croissants and steaming 
            | bowls of café.
            br
            | Lamda the best restaurant in town
    section.footer_hours.mt-2
        h3.footer_hours__title Opening Hours
        figure.dividerWhiteSmall
        p.footer_hours__parraf
            strong Mon-Thu: 
            | 7:00am - 8:00pm
            br
            strong Fri-Sun: 
            | 7:00am - 10:00pm
    section.footer_directions
        h3.footer_directions__title Our Location
        figure.dividerWhiteSmall
        p.footer_directions__parraf 19th Paradise Street Sitia 128 Meserole Avenue
        .footer_directions_social
            ul.footer_directions_social__ul
                li.footer_directions_social__ul__list
                    a(href="https://facebook.com/" title="Go to Facebook (open in new window)" target="_blank").footer_directions_social__ul__list__a
                        span(data-icon="brandico:facebook",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="https://youtube.com/" title="Go to Youtube (open in new window)" target="_blank").footer_directions_social__ul__list__a
                        span(data-icon="vaadin:youtube",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="https://twitter.com/" title="Go to Twitter (open in new window)" target="_blank").footer_directions_social__ul__list__a
                        span(data-icon="ant-design:twitter-outlined",data-inline="false").iconify
                li.footer_directions_social__ul__list
                    a(href="https://trello.com/" title="Go to Trello (open in new window)" target="_blank").footer_directions_social__ul__list__a
                        span(data-icon="simple-icons:trello",data-inline="false").iconify