header.home_sectionBackground_header#home
    nav.navbar.home_sectionBackground_header_nav.animated.fadeInUp(role="navigation")
        figure.home_sectionBackground_header_nav_container
            img(src="https://i.ibb.co/q1ytgjY/Xd08XAw.png", alt="Logo Lambda").header-logo
        .home_sectionBackground_header_nav_listContainer
            ul.home_sectionBackground_header_nav_ul#my-awesome-nav
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#home" target="_black").home_sectionBackground_header_nav_ul_li__a Home
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#about" target="_black").home_sectionBackground_header_nav_ul_li__a About
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#ingredients" target="_black").home_sectionBackground_header_nav_ul_li__a Ingredients
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#menu" target="_black").home_sectionBackground_header_nav_ul_li__a Menú
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#reviews" target="_black").home_sectionBackground_header_nav_ul_li__a Reviews
                li.home_sectionBackground_header_nav_ul_li
                    a(href="#reservation" target="_black").home_sectionBackground_header_nav_ul_li__a Reservation
        .home_sectionBackground_header_nav_socialContainer
            ul.home_sectionBackground_header_nav_ul--social
                li.home_sectionBackground_header_nav_ul_li--social
                    a(href="twitter.com" title="twitter" target="_black").home_sectionBackground_header_nav_ul_li__a--social
                        span(data-icon="ant-design:twitter-outlined", data-inline="false").iconify.home_sectionBackground_header_nav_ul_li__a--social__iconify
                li.home_sectionBackground_header_nav_ul_li--social
                    a(href="youtube.com" title="youtube" target="_black").home_sectionBackground_header_nav_ul_li__a--social
                        span(data-icon="vaadin:youtube", data-inline="false").iconify.home_sectionBackground_header_nav_ul_li__a--social__iconify
                li.home_sectionBackground_header_nav_ul_li--social
                    a(href="facebook.com" title="facebook" target="_black").home_sectionBackground_header_nav_ul_li__a--social
                        span(data-icon="brandico:facebook", data-inline="false").iconify.home_sectionBackground_header_nav_ul_li__a--social__iconify
    section.sectionTitle
        article.sectionTitle_titles
            h1.sectionTitle__h1.wow.animated.fadeInUp.delay-1s 
                | the right ingredients 
                br
                | for the right food
            figure.dividerWhiteBig.sectionTitle__img.animated.fadeInUp.delay-2s
        article.sectionTitle_titles
            .sectionTitle__buttons.wow.animated.fadeInUp.delay-3s
                a(href="#reservation").btnDark BOOK A TABLE
                a(href="#menu").btnLight SEE THE MENU

