section.sectionIngredients#ingredients
    article.sectionIngredients_container.wow.animated.fadeInLeft.delay-1s
        h2.sectionIngredients_container__h2 Fine Ingredients
        figure.dividerWhiteBig
        p.sectionIngredients_container__parraf 
            | If you've been to one of our restaurants, 
            | you've seen - and tasted - what keeps our customers coming 
            | back for more. 
            br
            | Perfect materials and freshly baked food, 
            | delicious Lambda cakes,  muffins, and gourmet
            | coffees make us hard to resist!
            br
            | Stop in today and check us out!
        figure.sectionIngredients_container_images
            img(src="https://i.ibb.co/TP07JGD/kmbwCeO.png", alt="")
            img(src="https://i.ibb.co/TbCM1Qf/cL3txJd.png", alt="")
            img(src="https://i.ibb.co/pRrsMp5/wR6T17B.png", alt="")
                
