.sectionMenu#menu
    article.sectionMenu_menuOne.wow.animated.flipInX.delay-1s
        h3.sectionMenu_menuOne_h1 Appetisers
        br
        figure.dividerGold
        .sectionMenu_menusPrices
            h4.sectionMenu_menuOne_subtitles Tzatsiki
                span $3.99
            p.sectionMenu_menuOne_parraf 
                | Refreshing traditional cucumber and garlic yoghurt 
                | dip.
            h4.sectionMenu_menuOne_subtitle Aubergine_Salad 
                span $5.50
            p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
            h4.sectionMenu_menuOne_subtitle Aubergine_Salad
                span $5.25
            p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
    article.sectionMenu_menuTwo.wow.animated.flipInX.delay-1s
        h3.sectionMenu_menuOne_h1 Starters
        br
        figure.dividerGold
        .sectionMenu_menusPrices
            h4.sectionMenu_menuOne_subtitle Haloumispan
                span $3.99
            p.sectionMenu_menuOne_parraf Refreshing traditional cucumber and garlic yoghurt dip.
            h4.sectionMenu_menuOne_subtitle Spinach_Piespan 
                span $5.50
            p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
    article.sectionMenu_menuThree.wow.animated.flipInX.delay-1s
        h3.sectionMenu_menuOne_h1 Salads
        br
        figure.dividerGold
        .sectionMenu_menusPrices
            h4.sectionMenu_menuOne_subtitle Olive_Special
                span 5.99
            p.sectionMenu_menuOne_parraf Refreshing traditional cucumber and garlic yoghurt dip.
            .sectionMenu_menusPrices_special
                .sectionMenu_menusPrices_special_badgeContainer
                    span.sectionMenu_menusPrices_special__badge Special
                .sectionMenu_menusPrices_special_container
                    h4.sectionMenu_menuOne_subtitle Greek_Salad
                        span 5.50
                    p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
            h4.sectionMenu_menuOne_subtitle Gusto_Salad
                span 5.25
            p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
    article.sectionMenu_menuFour.wow.animated.flipInX.delay-1s
        h3.sectionMenu_menuOne_h1 Main Dishes
        br
        figure.dividerGold
        .sectionMenu_menusPrices
            h4.sectionMenu_menuOne_subtitle Cornish_Mackerel
                span $5.99
            p.sectionMenu_menuOne_parraf Refreshing traditional cucumber and garlic yoghurt dip.
            .sectionMenu_menusPrices_special
                .sectionMenu_menusPrices_special_badgeContainer
                    span.sectionMenu_menusPrices_special__badge Special
                .sectionMenu_menusPrices_special_container
                    h4.sectionMenu_menuOne_subtitle Roast_Lamb
                        span $5.50
                    p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
            h4.sectionMenu_menuOne_subtitle Fried_Chicken
                span $5.25
            p.sectionMenu_menuOne_parraf Pureed eggplant, garlic, green pepper and tomato dip.
            h4.sectionMenu_menuOne_subtitle Pastitsio
                span $5.99
            p.sectionMenu_menuOne_parraf Refreshing traditional cucumber and garlic yoghurt dip.