section.sectionReservation#reservation
    figure.sectionReservation_colOne
        img(src="https://i.ibb.co/7SQ1DFD/6ctziyG.png", alt="Image 1 Reservation").wow.animated.zoomIn.delay-2s
        img(src="https://i.ibb.co/bRQhShv/T0tq2dw.png", alt="Image 2 Reservation").wow.animated.zoomIn.delay-2s
    article.sectionReservation_colTwo
        h2.sectionReservation_colTwo_title.wow.animated.fadeInUp.delay-1s Just the right food
        br
        img(src="https://i.ibb.co/9nz95LR/FgTWHbQ.png", alt="").sectionReservation_colTwo_divider.wow.animated.fadeInUp.delay-2s
        br
        p.sectionReservation_colTwo_parraf.wow.animated.fadeInUp.delay-3s
            | If you've been to one of our restaurants, you've seen - and tasted - 
            | what keeps our customers coming back for more. Perfect materials and 
            | freshly baked food.
            | Delicious Lambda cakes,  muffins, and gourmet coffees make us hard to 
            | resist! Stop in today and check us out! Perfect materials and freshly 
            | baked food.
        form.sectionReservation_colTwo_form.wow.animated.fadeInUp.delay-4s
            div
                label(for="name") Name
                br
                input(type="text",placeholder="your name")#name.sectionReservation_colTwo_form__input
                br
                label(for="date") Date
                br
                input(type="date")#date.sectionReservation_colTwo_form__input
            div
                label(for="email") Email
                br
                input(type="text")#email.sectionReservation_colTwo_form__input
                br
                label(for="party") Party Number
                br
                input(type="number",placeholder="party number")#party.sectionReservation_colTwo_form__input
        br
        a.btnReservation.wow.animated.fadeInUp.delay-5s Book Now!