section.sectionReviews#reviews
    article.sectionReviews_container.wow.animated.slideInUp.delay-1s
        .sectionReviews_container_rowOne
            h2.sectionReviews_container__title Guest Reviews
            img(src="https://i.ibb.co/gPRB38N/EF17PtG.png", alt="").sectionReviews_container__divider
        .sectionReviews_container_rowTwo
            span(data-icon="bx:bxs-quote-alt-left").iconify.sectionReviews_container__parraf__iconif
            p.sectionReviews_container__parraf
                | If you've been to one of our restaurants, 
                | you've seen - and tasted - 
                | what keeps our customers coming back for more. 
                | Perfect materials and freshly baked food, delicious Lambda cakes,  
                | muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!
                span.sectionReviews_container__parraf__place - food inc, New York