@import 'components/_buttons.scss';

// Section Header + Home 
.home_sectionBackground_header{
    height: 100vh;
    background-image: url('https://i.imgur.com/cJrLXNF.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 8fr;
     padding: 0 10px;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

}

.home_sectionBackground_header_nav_listContainer{
    
    display: -webkit-box; 
    justify-content: space-around ;
    -webkit-box-align: center;
            align-items: center;
    display: none;
}

.home_sectionBackground_header_nav{
    display: grid;
    grid-template-columns: 3fr 8fr;
}

.home_sectionBackground_header_nav_ul{
    list-style: none;
}

.home_sectionBackground_header_nav_ul>.home_sectionBackground_header_nav_ul_li{
    display: inline;
    padding: 0px 30px;
}


.home_sectionBackground_header_nav_ul_li__a{
    color: white;
    text-decoration: none;
    font-family: $gentium;
    padding-top: 35px;
}

.home_sectionBackground_header_nav_ul_li__a:hover,
.home_sectionBackground_header_nav_ul_li__a:active,
.home_sectionBackground_header_nav_ul_li__a:focus
{
    border-top: 2px solid #c2bfb7;
    
}

.active{
    border-top: 2px solid #c2bfb7;
}

.home_sectionBackground_header_nav_socialContainer{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
        justify-content: flex-end;
    padding: 20px;
}

.home_sectionBackground_header_nav_ul_li__a--social__iconify{
    padding: 0 5px;
    color: #dab33e;
}

.home_sectionBackground_header_nav_ul_li__a--social__iconify:hover{
    color: #b99526;
}

.home_sectionBackground_header_nav_ul--social{
    list-style: none;
}

.home_sectionBackground_header_nav_ul--social>.home_sectionBackground_header_nav_ul_li--social{
    display: inline;
}

.home_sectionBackground_header_nav_ul_li__a--social{
    text-decoration: none;
}

.sectionTitle{
    grid-row: 2;
}

.sectionTitle_titles{
    display: grid;
    grid-column: 2;
}

.sectionTitle__h1{
    text-align: center;
    color: white;
    font-family: $yeseva;
    font-size: 22px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-weight: 500;
}

.sectionTitle__buttons{
    text-align: center;
    color: white;
     display: grid;
        -webkit-box-pack: center;
                justify-content: center;
        margin-top: 20px;
}

.sectionTitle__img{
    margin: 0 auto;
}

.home_sectionBackground_header_nav_ul_li__a--social>span{
    width: 30px;
    height: 30px;
}

.header-logo{
    width: 100%;
}